/* start general elements */
html , body {
    
    background-color: #E9EBEE;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    padding:0;
    
}

.create-post-opacity{
    
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    display: none;
    position: absolute;
    z-index: 999;
}

.fileuploader-theme-default{
    
    display: none;
    margin-top: 47px;
    background-color: #fff;
}

.birthday-register{
    
    margin-left: 149px !important;
}
.birthday-register div{
    
    width: 15.333% !important;
}
/* start the welcome page  */


.Welcome-page-content{
    
    background-image:  url('/images/core/2.jpg');
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.login-register-buttons{
    
    margin: 300px 656px;
    position: absolute;
    width: 253px;
    height: 31px;
    top: 40px;
    left: 313px;
}

.btn-login-page{
    background-color: #00BBFF;
    border: 0;
    width: 173px;
    margin-left: -122px;
    color: #fff;
    height: 46px;
    border-radius: 31px;
}
.btn-register-page{
    width: 173px;
    margin-left: 18px;
    color: #fff;
    height: 46px;
    border-radius: 31px;
    background: top;
    border: 1px solid;
    
}

.welcome-page-links{
    
    
}

.welcome-page-links ul{
    
    list-style: none;
    margin-top: 30px;
    position: absolute;
    color: #fff;
}
.welcome-page-links ul li{
    
    float: left;
    padding: 10px;
    width:81px;
}
.welcome-page-links ul li img{
    margin-left: 6px;
}
.list-brand{
    
    
    font-size: 25px;
    margin-left: 37px;
    margin-top: 11px;
}
.list-brand img{
    
    width: 45px;
    height: 45px;
    
}
.list-brand span{
    position: absolute;
    left: 150px;
    font-weight: bold;
}
.first-list-element{
    
    margin-left: 786px;
}

.welcome-left-image{
    
    float: left;
    position: absolute;


    background-image:  url('/images/core/Social.jpg');
    width: 557px;
    height: 378px;
    top: 150px;
    left: 92px;
    box-shadow: 4px 4px 6px #000 , -4px -4px 6px #000 
}

.welcome-paragraph{
    
    position: absolute;
    font-size: 25px;
    color: #fff;
    top: 200px;
    left: 813px;
    font-weight: bold;
    width: 434px;
    
}
.welcome-paragraph span{
    
    position: absolute;
    top: 43px;
    width: 125px;
    left: 160px;

    
}

/* start login page */

.content-login-page{
    
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background-image:  url('/images/core/homepagecover.jpg');
    
    
}
.login-margin-container{
    
    margin-top: 8px;
}
.pa-heading{
    
    margin-left: 389px;
    font-size: 20px;
}

/* start register page */
.reg-margin-body{
    
   margin-top: 8px;
}
.register-title{
    
    margin-left: 245px;
    font-size: 20px;
    font-weight: bold;
}
.gender-container{
    
    
}

/* start nav section */
.main-nav-bar{
    
    background-color : #1DA1F2;
    height: 67px;
    margin-top: 0px;
    margin-left: -54px;
    border:0;
    position: fixed;
    width: 1404px;
    z-index: 99;
}
.mynavbar-header .navbar-brand{
    
    color:#fff;
    width: 233px;
    margin-top: 6px;
}
.mynavbar-header .navbar-brand:hover{
    
    color:#fff;
}
.mynavbar-header .navbar-brand:focus{
    
    color:#fff;
}
.mynavbar-header a img{
    
    width:40px;
    height: 40px;
    float:left;
    margin-right: 20px;
    margin-top: -9px;
}

.homepage-search{
    
    width: 362px;
    margin-top: 13px;
    margin-left: 189px;
}
.my-original-data li{
    
    margin-top: -40px;
}
.my-original-data li a{
    
    float: left;
    margin-left: 3px;
    color:#fff !important;
}
.my-original-data li a:hover{
    
    float: left;
    color:#fff !important;
}

.go-to-profile-page{
    
    margin-top: -3px;
}
.go-to-profile-page:hover{
    
    box-shadow: 3px 3px 3px #E9EBEE , -3px -3px 3px #E9EBEE;
}
.go-to-profile-page img{
    
    widows: 30px;
    hieght:30px;
    border-radius:50%;
}

.navbar-more{
    
    margin-left: 30px;
}
.navbar-mor ul li{
    
    color:#000;
}
.navbar-more ul li a{
    
    margin-top: 40px;
    color: #000 !important;
}
/* welcome page logo and title befor login and register pages */

.welcome-page-logo-title{
    
    margin: 40px 50%;
    
}
.welcome-page-logo-title img{
    
    width:100px;
    height: 100px;
    
}
.welcome-page-logo-title p{
    
    width: 156px;
    font-size: 22px;
    margin-left: -33px;
    margin-top: 28px;

}
/* satrt home page */

/*  satrt left section    */

.information-section-content{
    
    float: left;
    margin-left: -16px;
}

.information-section-content ul{
    
    list-style: none;
    width: 105%;
}
.information-section-content ul li{
    
     margin: 0 15px 15px 0;
}
.information-section-content ul p{
    
    
}
.first-element-image-info-bar{
    
        border-radius: 50%;

}
.information-section-content ul li img{
    
    width: 30px;
    height: 30px;
}

.information-section-content ul li span{
    
    margin-left: 6px;
}

.first-list-element span{
    
    margin-left: 11px;
}


/* satrt create post section */

.feeling-username{
    
    color:blue;
}

.feeling-modal-body{
    
    height: 617px;
}

.display-emotion-modal{
    
    display: none;
    font-size: 20px;
    color: rgb(70, 135, 140);
    margin-left: 14px;
    margin-top: 6px;
    margin-block-end: 20px;
    border-bottom: 1px solid;
    padding-bottom: 12px;
}
.create-page-header{
    
    background-color: #F6F7F9;
    border: 1px solid #DDDFE2;
    height: 35px;
    border-radius: 4px 4px;
}
.create-post-upload-post-image{
    
   display:none !important;
}
.create-page-header i{
    
    margin-top: 10px;
}
.create-page-header span{
    
    margin-left: 5px;
    
}
.create-post-body{
    
    background-color:#fff;
    border-radius: 0 0 4px 4px;
    /*height: 167px ;*/ 
    min-height: 167px;
    height:auto;
}
.create-post-body img{
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    
}
.create-post-body textArea{
    
    border: 0;
    outline: 0;
    background: transparent;
    height: 25px;
    max-height:25px;
    width: 406px;
    max-width: 406px;
    margin-top: 38px;
    margin-left: 7px;
    
}
.border-top-create-post{
    
    border-top: 1px solid #E9EBEE;
    margin-top: 15px;
}
.create-page-footer{
    
    margin-top: 23px;
    
   
    
}
.create-page-footer .creaet-post-upload-iamge , .create-page-footer .creaet-post-feeling , .create-page-footer .creaet-post-more{
    
    
    background-color: #F6F7F9;
    border-radius: 72px;
    height: 33px;
    line-height: 29px;
    cursor: pointer;
    
}
.create-page-footer .creaet-post-upload-iamge:hover , .create-page-footer .creaet-post-feeling:hover , .create-page-footer .creaet-post-more:hover{
    
    
    background-color: #4F5563;
    color:#fff;
    
}


.fileuploader-input{
    
    display: none;
}

.create-post-submit{
    
    margin-top: 9px;
    margin-bottom: 10px;
    float: right;
   
    width: 86px;
    
}

/* start posts section */
.posts{
    
    background-color:#fff;
    margin-top: 10px;
    width: 95%;
    margin-left: 14px;
    
    border-radius: 6px;
}

.post-title{
    margin-top: 19px;
    margin-left: -10px;
    border-bottom: 1px solid #E9EBEE;
}
.post-title span{
    float: left;
    color: blue;
}
.post-title p{
    margin-left: 15px;
    float: left;
}

.post-body-image{
    
    
}
.post-person-content{
    
    padding-bottom: 90px;
}
.post-body-image .post-person-content img{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-top: 10px;
    
    
}
.post-body-image .post-person-content p{
    
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    
}
.post-body-image .post-person-content time{
    float: left;
    margin-left: -108px;
    margin-top: 25px;
    
}
.post-body-image .post-person-content span{

    float: left;
    margin-left: 364px;
    margin-top: -37px;
    
}
.post-description{
    
    margin-top: 36px;
}
.post-description .person-description{
    
    
}
.post-description img{
    
    width: 476px;
    height: 353px;
}
.post-description .page-description{
    
   
    padding-top: 19px;
    padding-right:  19px;
    padding-left: 19px;
    padding-bottom:5px;

}
.page-description-load-more{
    
    margin-left: 17px;
    margin-bottom: 11px;
}
.page-content-border{
    border-bottom:  1px solid #E9EBEE;
    border-right: 1px solid #E9EBEE;
    border-left: 1px solid #E9EBEE;
    
}
.post-description , .page-description{
    
   
}

.post-liks-comments-number{
    
    border-bottom: 1px solid #E9EBEE;
    height: 39px;
}

.post-liks-comments-number i{
    
    float: left;
    margin-top: 11px;
}
.post-liks-comments-number .number-of-liks{
    
    float: left;
    margin-top: 7px;
    margin-left: 7px;
}
.post-liks-comments-number .number-of-comments{
    float: left;
    margin-left: 274px;
    margin-top: 10px;
}
.post-liks-comments-number .number-of-shares{
    float: left;
    margin-left: 16px;
    margin-top: 10px
}

.like-share-comment-post{
    
    margin-top: 5px;
    margin-left: -30px;
}

.previouse-commments-on-this-post{
    
    background-color: #F6F7F9; 
    width: 106%;
    margin-left: -15px
    
}
.write-comment{
    
    margin-top: 15px;
}
.write-comment img{
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.write-comment input{
    
    width: 432px;
    padding: 8px;
    border-radius: 33px;
    border: 1px solid #DDDFE2;
    height: 34px;
    margin-left: 6px;
}

.list-of-previouse-comments{
    
    
}
.list-of-previouse-comments ul{
    
    list-style: none;
    margin-left: -39px;
    margin-top: 22px;
}
.list-of-previouse-comments ul li{
    
    
}
.list-of-previouse-comments ul li img{
    
        width: 30px;
        height: 30px;
        border-radius: 50%;
}
.list-of-previouse-comments ul li ul{
    
        list-style: none;
        margin-left: 5px;
        
}
.list-of-previouse-comments ul li ul li{
    
        list-style: none;
        
}
.list-of-previouse-comments ul li .comment-owner-name{
    margin-left: 43px;
    margin-top: -31px;
    
}
.list-of-previouse-comments ul li .comment-it-self{
    
    margin-left: 42px;
    margin-top: -2px;
}
.list-of-previouse-comments ul li .comment-time{
    
    margin-left: 42px;
    margin-top: -14px;
}
.list-of-previouse-comments ul li .like-ind-comment{
    
    margin-left: 42px;
    color: blue;
}
.list-of-previouse-comments ul li .reply-ind-comment{
    
    margin-left: 75px;
    margin-top: -29px;
    color: blue;
}
/* start suggested frinds groups pages section */
.suggested-friends{
    
    background-color: #fff;
    height: 269px;
    border-radius: 6px;
    
}
.suggested-friends .suggested-friends-title{
    
    margin-left: 8px;
    padding-top: 12px;
    
}
.suggested-friends .see-all-suggested-friends{
    
    float: right;
    margin-top: -28px;
    color: blue;
    margin-right: 8px;
}
.suggested-friends ul{
    
    list-style: none;
    margin-left: -41px;
}
.suggested-friends ul li{
    
    margin-top: 20px;
    margin-left: 8px;
}
.suggested-friends ul li img{
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.suggested-friends ul li .sugested-friend-name{
    margin-left: 81px;
    margin-top: -56px;
    
}
.suggested-friends ul li .add-suggested-friend {
    margin-left: 69px;
    height: 30px;
    line-height: 13px;
    margin-top: -11px;

}

/* suggested groups section */
.home-page-left-section{
    
    margin-top: 86px;
}
.home-page-posts-section{
    
    margin-top: 87px;
}
.home-page-suggested-section{
    
    margin-left: -31px;
    margin-top: 87px;
}
.suggested-group{
    
    background-color: #fff;
    margin-top: 8px;
    border-radius: 6px;
}
.suggested-group .suggested-groups-title{
    margin-left: 9px;
    padding-top: 9px;
}
.suggested-group .see-all-suggested-groups{
    margin-left: 248px;
    margin-top: -28px;
    color: blue;
}
.suggested-group ul{
    
  list-style: none;
}
.suggested-group ul li{
    
    margin-left: -35px;
 
}
.suggested-group ul li img{
    
    width: 292px;
    height: 204px;
}
.suggested-group ul li .sugested-group-name{
    
    margin-left: 11px;
    margin-top: 16px;
    color : blue;
    
}
.suggested-group ul li .sugested-group-des{
    margin-left: 10px;
    margin-top: -9px;
    color: #9094BD;

}
.suggested-group ul li .join-group{
    
    margin-left: 194px;
    margin-top: -98px;
}
/* start friends section  */

.home-page-friends-section{
    
    height: 514px;
    border-left: 1px solid #CCCCCC;
    margin-left: 21px;
    position: fixed;
    left: 1088px;
    top: 89px;
    
}
.all-friends-users-list{
    
    margin-top: -22px;
}
.all-friends-users-list ul{
    
    list-style: none;
    
}
.all-friends-users-list ul li{
    
    margin-top: 18px;
}
.all-friends-users-list ul img{
    
        
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -48px;
}
.all-friends-users-list ul p{
    
    margin-top: -32px;
    
}
.all-friends-users-list ul time{
    
    float: right;
    margin-right: -11px;
    margin-top: -29px;
}


/* end home page */


/* start profile page */

/* profile page cover and content section */
.cover-menu-bar-section{
    
    margin-top: -20px;
    margin-left: 100px;
}
.cover-image{
    
}
.cover-image img{
    
    width: 787px;
    height: 330px;
    margin-left: -15px;
}
.cover-image p{
    position: absolute;
    top: 276px;
    left: 240px;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
}

.cover-image button{
    position: absolute;
    top: 276px;
    left: 593px;
    border: 0;
    width: 133px;
    height: 28px;
    border-radius: 4px;
}
.profile-page-nav-content{
    
    z-index: 9;
}
.profile-page-nav-content{
    
    border: 1px solid #CCC;
    width: 104%;
    margin-left: -16px;
    
}
.profile-page-nav-content div div .navbar-brand{
    
    color:#365899;
    
    margin-top: 0px;
    font-size: 16px;
    margin-left: -20px !important;
    width: 133px;
  
}
.profile-page-nav-content div div .navbar-brand img{
    top: -125px;
    left: 33px;
    width: 159px;
    height: 173px;
    float: left;
    margin-right: 20px;
    margin-top: -9px;
    position: absolute;
        
  
}
.profile-page-nav-content div div .navbar-brand:hover{
    
    color:#365899;

  
}
.profile-page-nav-content div div .navbar-brand:focus{
    
    color:#4B4F56;

  
}

.profile-iamge{
    
     width: 253px !important;
     border: 0 !important;
     color:#4B4F56;
}

.change-profile-image{
    
    position: absolute;
    z-index: 9;
    background-color: #000;
    left: 33px;
    width: 159px;
    height: 50px;
    top: -12px;
    text-align: center;
    padding-top: 14px;
    opacity: 0.5;
    color: #fff;
    display: none;
}

.edit-cover-page{
    position: absolute;
    top: 102px;
    left: 32px;
    background-color: #000;
    padding: 5px;
    display: none;    
    height: 36px;
    padding-top: 8px;
    border-radius: 9px;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
    
}
.edit-cover-page i{
    margin-left: 3px;
    margin-right: 5px;
    margin-top: 3px;
}
/* profile page friends section */
.profile-page-friends-list{
    
    height: 514px;
    border-left: 1px solid #CCCCCC;
    position: fixed;
    left: 882px;
    top: 83px;
    
}

.profile-page-suggested-friends{
    
    background-color: #fff;
    width: 104%;
    margin-left: -16px;
    border-radius: 6px;
    height: 275px;
}
.profile-page-sug-fr-head{
    
   background-color: #F6F7F9;
   width: 104%;
   margin-left: -15px;
   border-radius: 6px 6px 0 0;
    
}
.profile-page-sug-fr-head p{
    
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}

.profile-page-sug-fr-head span{
    
    float: left;
    margin-left: 541px;
    margin-top: 8px;
    color: blue;
    
}
.profile-page-sug-fr-head i{
    
    float: left;
    margin-left: 603px;
    margin-top: -17px;
    
}


.profile-page-sug-fr-body{
    
    
}
.profile-page-sug-fr-body ul{
    
    list-style: none;
    margin-left: -57px;
}

.profile-page-sug-fr-body ul li{
    
    float: left;
    width: 20%;
}
.profile-page-sug-fr-body ul li img{
    
    width: 127px;
    height: 121px;
    margin-top: 19px;
    
}
.profile-page-sug-fr-body ul li .cont-frie-list{
    
    border: 1px solid #EBEBEB;
    width: 127px;
    height: 86px;   
}
.profile-page-sug-fr-body ul li p{
    
    font-size: 17px;
    margin-top: 5px;
    margin-left: 4px;
    width: 121px;
}
.profile-page-sug-fr-body ul li .mut-frie{
    
    margin-top: -10px;
    margin-left: 13px;
    font-size: 14px;
}
.profile-page-sug-fr-body ul li button{
    margin-left: 13px;
   width: 96px;
   height: 22px;
   line-height: 4px;
   margin-top: -7px;
}
.profile-page-left-section{
    
    margin-left: -30px;
    margin-top: 14px;
}
/* start the update info section in profile page */

.update-information{
    
    background-color:#fff;
    border-radius: 6px;
    height: 231px;
    
}
.profile-page-lift-bar-photos{
    
    margin-top: 10px;
    border-radius: 6px;
    height: 348px;
}
.update-info-head{
    
    
}

.update-info-head img{
    
    margin-left: -2px;
    margin-top: 8px;
}

.update-info-head p{
    
    margin-left: 35px;
   font-size: 18px;
   margin-top: -26px;
}

.update-info-body{
    
    
}
.update-info-body ul{
    
    list-style: none;
    margin-left: -37px;
    margin-top: 26px;
}
.update-info-body ul li{
    
    
}
.update-info-body ul li i{
    
    
}
.update-info-body ul li p{
    
    margin-left: 31px;
    margin-top: -20px;
}
.profile-page-lift-bar-photos{
    
   background-color: #fff;
}
.display-photo-body{
    
    
}
.display-photo-body ul{
    
    list-style: none;
    margin-left: -37px;
    margin-top: 18px;
}
.display-photo-body ul li{
    
    float: left;
    padding: 2px;
    
}
.display-photo-body ul li img{
    
    width: 87px;
   height: 88px;
}
.display-photo-body ul li p{
    
    
}


.profile-page-lift-bar-friends{
    
    margin-top: 7px;
    background-color: #fff;
    border-radius: 6px;
}

.profile-page-posts-section{
    
    float: right;
    margin-right: -44px;
    margin-top: 15px;
    width: 75.667%;
}
/* end profile page */

/* start friends page */

.friends-page-friends-list{
    
    position: fixed;
    left: 882px;
    top: 79px;
    height: 514px;
    border-left: 1px solid #CCCCCC;
    overflow-y: auto;
   
}


.friends-page-friends-list-content{
    
    background-color: #fff;
    margin-left: -4px;
    width: 105%;
}

.header-friends-list{
    
    background-color: #F6F7F9;
    height: 85px;
    width: 104%;
    margin-left: -15px;
} 

.title-friends-p{
    
    
}

.title-friends-p img{
    
    margin-left: 18px;
    margin-top: 8px;
}
.title-friends-p p{
    margin-top: -28px;
    margin-left: 59px;
    font-size: 18px;
    
}
.title-friends-p button{
    
    position: absolute;
    left: 672px;
    top: 14px;
    border: 1px solid #CACBCE;;
    background-color: #fff;
    border-radius: 3px;
    height: 28px;
    padding: 4px;
}

.all-friends-or{
    
   margin-left: 24px;
}
.all-friends-or a{
    
   text-decoration: none;
}
.all-friends-or .rec-added{
    
   margin-left: 12px;
}

.body-friends-list{
    
    
}
.body-friends-list ul{
    
    list-style: none;
}
.body-friends-list ul li{
    
   margin-top: 15px;
   margin-left: -9px;
   margin-bottom: 20px;
  
}
.body-friends-list ul li:nth-child(even){
    
    float: right;
    margin-right: -22px;
    
}
.body-friends-list ul li img{
    
    margin-left: -49px;
    width: 155px;
    height: 115px;
   
}
.search-friendspage{
    
    margin-left: 366px;
    border-radius: 15px;
    border: 1px solid #E9EBEF;
    padding-right: 6px;
    padding-left: 11px;
    width: 215px;
    height: 31px;
}
.body-friends-list ul li .abs-div-border{
    
    border: 1px solid #E9EBEF;
    height: 115px;
    position: absolute;
    width: 226px;
    left: 120px;
    top: 0px;
    
   
}
.body-friends-list ul li p{
    
    margin-left: 116px;
   margin-top: -97px;
   font-size: 16px;
   color: blue;
}
.body-friends-list ul li span{
    
    margin-left: 116px;
}
.body-friends-list ul li .friends-list-border-friends-page{
    
    
}
.body-friends-list ul li button{
    width: 51px;
    height: 27px;
    margin-left: 257px;
    line-height: 1px;
    margin-top: -77px;
}
.create-post-border{
    
    height: 204px;
    border-radius: 3px;
}

/* start edit profile page container */

.edit-profie-img-container{
    z-index: 9999;
    height: 105px;
    position: absolute;
    background-color: #FFFFFF;
    top: 267px;
    left: 456px;
    width: 226px;
    display: none;
}
.edit-profile-content{
    
    
    display: none;
}
.edit-profile-page-header{
    
    background-color: #F6F7F9;
    height: 51px;
    border-bottom: 1px solid #E9EBEE;
    
}

.edit-profile-page-header p{
    margin-left: 27px;
    padding-top: 12px;
    font-size: 17px;
}
.edit-profile-page-header i{
    float: right;
    margin-right: 24px;
    margin-top: -26px;
    cursor: pointer;
}

.edit-pofile-page-body{
    
    border-bottom: 1px solid #E9EBEE;
    height: 136px;
}
.edit-pofile-page-body ul{
    
    list-style: none;
}
.edit-pofile-page-body ul .first-li{
    width: 70%;
    height: 127px;
    line-height: 125px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}
.edit-pofile-page-body ul .secound-li{
    line-height: 125px;
    height: 127px;
    text-align: center;
    width: 30%;
    font-size: 17px;
    border-left: 1px solid #E9EBEE;
    cursor: pointer;
}
.edit-pofile-page-body ul li{
    
    float: left;
}
.edit-pofile-page-body ul li:hover{
    
    background-color: #F6F7F9;;
}

.edit-profile-suggested-images{
    
    
}
.edit-profile-suggested-images p{
    
    margin-top: 21px;
    margin-left: 39px;
    font-size: 16px;
}
.edit-profile-suggested-images ul{
    
    list-style: none;
    margin-left: -9px;
    
}
.edit-profile-suggested-images ul li{
    
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 6px;
}
.edit-profile-suggested-images ul li img{
    
    width: 122px;
    height: 122px;
}
.upload_image_div{
    
    display: none;
}
/* start create post modal section */

/* start profile image change */

.display_choosed_image{
    
    display: none;
    position: absolute;
    z-index: 9999;
    position: absolute;
    top: 45px;
    left: 51px;
    width: 1100px;
    height: 589px;
    background-color: #fff;
    border: 2px dashed #000;
}
.display_choosed_image div img{
    
   width: 660px;
    height: 504px;

    margin-left: 0px;
    margin-top: 0px;
}
.edit_image_save_cancle{
    
    margin-left: 451px;
    margin-top: 11px;
}

.edit_image_save{
    
    margin-left: -32px;
    width: 108px;
}

.edit_image_cancle{
    
    width: 108px;
    margin-left: 87px;
    margin-top: -58px;
}

.cropper-crop{
    
    display: none;
}
.cropper-bg{
    
    background: none;
}
.cropper-face{

}

/* update info modal */
.update_modal_header img{
    
    widows: 60px;
    height:60px;
    border-radius: 50%;
}