/* start general elements */
html , body {
    
    background-color: #E9EBEE;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    padding:0;
}
/* start the welcome page  */


.Welcome-page-content{
    
    background-image:  url('/images/core/2.jpg');
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.login-register-buttons{
    
    margin: 300px 656px;
    position: absolute;
    width: 253px;
    height: 31px;
    top: 40px;
    left: 313px;
}

.btn-login-page{
    background-color: #00BBFF;
    border: 0;
    width: 173px;
    margin-left: -122px;
    color: #fff;
    height: 46px;
    border-radius: 31px;
}
.btn-register-page{
    width: 173px;
    margin-left: 18px;
    color: #fff;
    height: 46px;
    border-radius: 31px;
    background: top;
    border: 1px solid;
    
}

.welcome-page-links{
    
    
}

.welcome-page-links ul{
    
    list-style: none;
    margin-top: 30px;
    position: absolute;
    color: #fff;
}
.welcome-page-links ul li{
    
    float: left;
    padding: 10px;
    width:81px;
}
.welcome-page-links ul li img{
    margin-left: 6px;
}
.list-brand{
    
    
    font-size: 25px;
    margin-left: 37px;
    margin-top: 11px;
}
.list-brand img{
    
    width: 45px;
    height: 45px;
    
}
.list-brand span{
    position: absolute;
    left: 150px;
    font-weight: bold;
}
.first-list-element{
    
    margin-left: 786px;
}

.welcome-left-image{
    
    float: left;
    position: absolute;


    background-image:  url('/images/core/Social.jpg');
    width: 557px;
    height: 378px;
    top: 150px;
    left: 92px;
    box-shadow: 4px 4px 6px #000 , -4px -4px 6px #000 
}

.welcome-paragraph{
    
    position: absolute;
    font-size: 25px;
    color: #fff;
    top: 200px;
    left: 813px;
    font-weight: bold;
    width: 434px;
    
}
.welcome-paragraph span{
    
    position: absolute;
    top: 43px;
    width: 125px;
    left: 160px;

    
}

/* start login page */

.content-login-page{
    
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background-image:  url('/images/core/homepagecover.jpg');
    
    
}
.login-margin-container{
    
    margin-top: 8px;
}
.pa-heading{
    
    margin-left: 389px;
    font-size: 20px;
}

/* start register page */
.reg-margin-body{
    
   margin-top: 8px;
}
.register-title{
    
    margin-left: 245px;
    font-size: 20px;
    font-weight: bold;
}
.gender-container{
    
    
}

/* start nav section */
.main-nav-bar{
    
    background-color : #1DA1F2;
    height: 67px;
    margin-top: 0px;
    margin-left: -54px;
}
.mynavbar-header .navbar-brand{
    
    color:#fff;
    width: 233px;
    margin-top: 6px;
}
.mynavbar-header .navbar-brand:hover{
    
    color:#fff;
}
.mynavbar-header .navbar-brand:focus{
    
    color:#fff;
}
.mynavbar-header a img{
    
    width:40px;
    height: 40px;
    float:left;
    margin-right: 20px;
    margin-top: -9px;
}

.homepage-search{
    
    width: 362px;
    margin-top: 13px;
    margin-left: 189px;
}
.my-original-data li{
    
    margin-top: -40px;
}
.my-original-data li a{
    
    float: left;
    margin-left: 3px;
    color:#fff !important;
}
.my-original-data li a:hover{
    
    float: left;
    color:#fff !important;
}

.go-to-profile-page{
    
    margin-top: -3px;
}
.go-to-profile-page:hover{
    
    box-shadow: 3px 3px 3px #E9EBEE , -3px -3px 3px #E9EBEE;
}
.go-to-profile-page img{
    
    widows: 30px;
    hieght:30px;
    border-radius:50%;
}

.navbar-more{
    
    margin-left: 30px;
}
.navbar-mor ul li{
    
    color:#000;
}
.navbar-more ul li a{
    
    margin-top: 40px;
    color: #000 !important;
}
/* welcome page logo and title befor login and register pages */

.welcome-page-logo-title{
    
    margin: 40px 50%;
    
}
.welcome-page-logo-title img{
    
    width:100px;
    height: 100px;
    
}
.welcome-page-logo-title p{
    
    width: 156px;
    font-size: 22px;
    margin-left: -33px;
    margin-top: 28px;

}
/* satrt home page */

/*  satrt left section    */

.information-section-content{
    
    
}

.information-section-content ul{
    
    list-style: none;
    width: 105%;
}
.information-section-content ul li{
    
     margin: 0 15px 15px 0;
}
.information-section-content ul p{
    
    
}

.information-section-content ul li img{
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.information-section-content ul li span{
    
    
}

.first-list-element span{
    
    margin-left: 11px;
}
/* end home page */